<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      API Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-item>
      <!-- Conexion con variable definida en home.page.ts [(ngModel)]='variable' -->
      <ion-input [(ngModel)]='pokemon' placeholder="Ingrese nombre de pokemon"></ion-input> 
    </ion-item>

    <ion-button expand='block' (click)="buscarPokemon()">
      <ion-icon name="search-circle-outline"></ion-icon>
      <ion-label>Buscar Pokemon</ion-label>
    </ion-button>

    <ion-card *ngIf="estado===1">
      <!-- Con llaves dobles se puede llamar variables -->
      <img src="{{urlImagenPokemon}}">
      <ion-card-header>
        <ion-card-title>{{nombrePokemon}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Tipo: {{tipoPokemon}}
        Numero: {{noPokemon}}
      </ion-card-content>
    </ion-card>

</ion-content>
